.line {
  text-align: center;
  border-bottom: 1px solid #fefefe;
  line-height: 0.1em;
  margin-left: 20%;
  margin-right: 20%;
}

.line > span {
  background-color: #303030;
  padding-left: 3%;
  padding-right: 3%;
}

input[type="text"] {
  border: 3px solid white;
  border-radius: 10px;
  background-color: #303030;
  color: #fefefe;
  font-size: medium;
  padding: 10px;
}

.fifty-percent {
  width: 50%;
}

.add {
  border: 3px solid white;
  border-radius: 50%;
  background-color: #303030;
  color: #fefefe;
  float: right;
  margin-right: 15%;
  margin-top: -40px;
  height: 40px;
  width: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}

.user-box {
  text-align: center;
  display: inline-block;
}

.user-image {
  border-radius: 10%;
  width: 200px;
}

.view {
  margin-top: 20px;
  border: 3px solid white;
  border-radius: 100px;
  background-color: #303030;
  color: #fefefe;
  font-size: medium;
  padding: 15px;
}
